<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="skylight1.marketapp" android:versionCode="1"
	android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:icon="@drawable/icon" android:debuggable="true" android:label="@string/app_name" android:name="MarketAppApplication">
		<activity android:name=".MarketAppHomeActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
					</activity>

		<activity android:name=".WatchListActivity" />
        <activity android:name=".AlertActivity" android:label="Alerts"/>
        <activity android:name=".PortfolioActivity" android:label="Portfolio"/>
        <activity android:name=".AddWatchListTickerActivity" android:label="AddWatchListTickerActivity"/>
        <activity android:name=".AddPortfolioItemActivity" android:label="Add Position"/>

        <provider android:name=".MarketDatabase" android:authorities="skylight1.marketapp"/>
        <activity android:name=".CompanyDetailActivity" android:label="CompanyDetails"/>
        <activity android:name=".CandleSticksActivity" android:label="CandleSticks" android:screenOrientation="landscape"/>
        <activity android:name=".CompanyDetailActivity0" android:label="Detail"/>
        <activity android:name=".HelpActivity" android:label="Help"/>
        <activity android:name=".Preferences" android:label="Preferences"/>
    </application>
	<uses-sdk android:minSdkVersion="3" />
   

</manifest> 