<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="skylight1.marketapp" android:versionCode="1"
	android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET" />
    
	<application android:icon="@drawable/icon" android:debuggable="true" android:label="@string/app_name" android:name="MarketAppApplication">
		<activity android:name=".MarketAppHomeActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
					</activity>

		<activity android:name=".WatchListActivity" />
        <activity android:name=".AlertActivity" android:label="Alerts"/>
        <activity android:name=".PortfolioActivity" android:label="Portfolio"/>
        <activity android:name=".PricingEngineActivity" android:label="PricingEngine"/>
        <activity android:name=".AddWatchListTickerActivity" android:label="AddWatchListTickerActivity">
            <intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>
         <provider android:name=".MarketDatabase" android:authorities="skylight1.marketapp"></provider>
        <activity android:name=".CompanyDetails" android:label="CompanyDetails"/>
        <activity android:name=".CandleSticksActivity" android:label="CandleSticks"/>
		
</application>
	<uses-sdk android:minSdkVersion="3" />
   

</manifest> 